<h1><%= @roadmap.title %></h1>
<a href="<%= @roadmap.project_link %>" target="_blank">
  Click acá para acceder a su proyecto
</a>
<hr>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Checkpoint</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <% @roadmap.checkpoints.each do |checkpoint| %>
  <tbody>
    <tr>
      <th scope="row"> <%= checkpoint.id %> </th>
      <td><a href='<%= roadmap_checkpoint_path(@roadmap,checkpoint) %>' class="checkpoint-link" >
  <%= checkpoint.title %>
</a></td>
      
     
      <td>
      <% if checkpoint.completed_checkpoints.exists?(user_id: current_user.id) %>
        <%= button_to "Completo ✅", roadmap_uncomplete_checkpoint_path(@roadmap,checkpoint_id: checkpoint.id), :class=> "btn btn-outline-light active-checkpoint-button",:method => :delete %>
      <% else %>
        <%= button_to "Incompleto 👮🏻‍♂️", roadmap_complete_checkpoint_path(@roadmap,checkpoint_id: checkpoint.id), :class=> "btn btn-outline-light",:method => :post %>
      <% end %>
      </td>
    </tr>    
  </tbody>
  <% end %>
</table>
