<h1> <%="Checkpoint: #{@checkpoint.title}"%> </h1>
<br>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Recurso</th>
      <th scope="col">Link</th>
      <th scope="col">Current Avg Rating</th>
      <th scope="col">Rate / Your Rating</th>
      <th scope="col">Delete Resource</th>
    </tr>
  </thead>
  <% @resources_ratings.each do |resource|%>
  <tbody>
    <tr>
      <th scope="row"> <%= resource[:id] %> </th>
      <td> <%= resource[:title] %></td>
      <td> <a class="btn btn-secondary" href=<%= resource[:link] %> target="_blank">Go!</a> </td>
      <td> <%= resource[:average_rating] %> </td>
      <td>
      <% if current_user.resource_ratings.find_by(resource_id: resource[:id]).present? %>
        <%= current_user.resource_ratings.find_by(resource_id: resource[:id]).rating %>
      <% else %>
        <%= form_with url: rate_resource_roadmap_checkpoint_path(@roadmap, @checkpoint), model: Resource.find(resource[:id]), method: "post" do |form| %>
          <%= form.hidden_field :resource_id, value: resource[:id] %>
          <%= form.number_field :rating, in: 1..5, step: 1, required: true,  :class => 'input-rating' %>
          <%= form.submit "Evaluar", :class => 'btn btn-primary evaluate-button' %>
        <% end %>
      <% end %>
      </td>
      <td> <%= button_to "X", delete_resource_roadmap_checkpoint_path(@roadmap, @checkpoint, resource_id: resource[:id]), :class=> "btn btn-danger",:method => :delete %> </td>
    </tr>
  </tbody>
  <% end %>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddNewResourceModal">
  + Nuevo recurso
</button>

<!-- Modal -->
<div class="modal fade" id="AddNewResourceModal" tabindex="-1" aria-labelledby="resourceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añade un nuevo recurso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: create_resource_roadmap_checkpoint_path(@roadmap, @checkpoint), model: Resource, method: "post" do |form| %>
          <%= form.label :label_title, "Título" %>
          <%= form.text_field :title, required: true %>
          <%= form.label :label_link, "Link" %>
          <%= form.url_field :link, required: true %>
          <%= form.submit "Crear" %>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
