<h1> <%="Checkpoint: #{@checkpoint.id}"%> </h1>
<br>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Recurso</th>
      <th scope="col">Link</th>
      <th scope="col">Rate</th>
    </tr>
  </thead>
  <% @checkpoint.resources.each do |resource|%>
  <tbody>
    <tr>
      <th scope="row"> <%= resource.id %> </th>
      <td> <%= resource.title %></td>
      <td> <%= resource.link %></td>
      <td>
      <%= form_with model: resource do |form| %>
        <%= form.hidden_field :resource_id, value: resource.id %>
        <%= form.number_field :rating, in: 1..5, step: 1 %>      
        <%= form.submit "Evaluar" %>
      <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

