<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">---The Kawe---</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path,class: "nav-link btn" %>
      </li>
      <% if !current_user %>
      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class:"nav-link btn"%>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link btn"%>
      </li>
      <% else %>
        <li class="nav-item">
          <p style="padding: 8px; margin-bottom: 0px"> <span style="color: rgba(255, 255, 255, 0.55); vertical-align: middle"> Usuario: <%= current_user.name %> </span> </p>
        </li>
        <li class="nav-item">
          <p style="padding: 8px; margin-bottom: 0px"> <span style="color: rgba(255, 255, 255, 0.55); vertical-align: middle"> Rol: <%= current_user.role %> </span> </p>
        </li> 
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, class:"nav-link btn", data: { "turbo-method": :delete } %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
